@import "tailwindcss";
body {
  background: linear-gradient(135deg, #e3f2fd, #f1f8e9);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
button {
  transition: all 0.3s ease;
}
button:hover {
  transform: scale(1.05);
}